body { 
  background: url('../img/sabine-rudolph-kRM95YR5DBw-unsplash-blur.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6, a {
	font-family: 'Passion One', cursive;
	color: #DDC;
	text-align: center;
	text-shadow: -1px 2px 10px black;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 15px 0 0 0;
	font-size: 10vw;
}

h2 {
	font-size: 6vw;
}

h3 {
	margin: 15px 0 25px 0;
	font-size: 3.5vw;
}

h4 {
	font-size: 4.5vw;
}

h5 {
	font-size: 5vw;
}

h6 {
	margin: 10px 0 0 0;
	font-size: 10vw;
}

.nhs {
	margin: 7px 0 0 0;
}

.date {
	font-family: 'Averia Serif Libre', sans-serif;
	font-size: 4.5vw;
}

hr {
	max-width: 800px;
	border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(221, 221, 204, .75), rgba(0,0,0,0));
}


p, a {
	color: #DDC;
	font-family: verdana, sans-serif;
	text-decoration: none;
}


.year-date {
	font-size: 7vw;
}


.tile {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 15px;
	background-color: rgba(0,0,0,.55);
	justify-content: center;
	border: 5px solid #DDC;
	border-radius: 5px;
	width: 80%;
	max-width: 70%;
}


.inner-tile {
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
}

.button-text {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background-color: #DDDDCC;
	outline: none;
	border: none;
	border-radius: 5px;
	font-family: 'Passion One', cursive;
	font-size: 2em;
	color: #242D2C;
	text-shadow: none;
}


.hover-pointer:hover {
	cursor: pointer;
	text-shadow: 1px 1px 8px white;
}

.fa-chevron-down {
	font-size: .7em;
	margin: 0 20px;
}


.rotate{
    transition: all .8s ease;
}

.rotate.down{
    transform:rotate3d(1, 0, 0, 180deg);
}


footer p {
	text-align: center;
	font-size: 1.2em;
	text-shadow: -1px 2px 10px black;
}


@media only screen and (min-width: 600px)  {
	.date {
		font-family: 'Averia Serif Libre', sans-serif;
		font-size: 4vw;
	}
}


@media only screen and (min-width: 1200px)  {
	
}
